<h1>Add a new bookmark to <%= @list.name %></h1>

<%= simple_form_for([@list, @bookmark]) do |f| %>
  <div class="form-group">
    <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie" %>
  </div>
  <div class="form-group">
    <%= f.input :comment %>
  </div>
  <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to list', list_path(@list) %>
