<h1><%= @movie.title %></h1>
<p><%= @movie.overview %></p>
<img src="<%= @movie.poster_url %>" alt="<%= @movie.title %>">
<p>Rating: <%= @movie.rating %></p>
<%= link_to 'Back to movies', movies_path %>
